# Workflow output
# ---------------
results/*
report/*
!report/*.pdf
!report/*.tex

# Log directories, caches
# -----------------------
logs/*
dev
archive
data
*-legacy.*

# Nextflow
.nextflow
.nextflow.log*
work/*

# Snakemake
.snakemake

# SLURM
*.err
*.out